[submodule "modules/baileys-api"]
	path = modules/baileys-api
	url = git@github.com:matejviezan93-spec/baileys-api.git
[submodule "modules/bridge-redis"]
	path = modules/bridge-redis
	url = git@github.com:matejviezan93-spec/bridge-redis.git
[submodule "modules/bridge-sql"]
	path = modules/bridge-sql
	url = git@github.com:matejviezan93-spec/bridge-sql.git
[submodule "modules/bridge-monitoring"]
	path = modules/bridge-monitoring
	url = git@github.com:matejviezan93-spec/bridge-monitoring.git
[submodule "modules/bridge-core-infra"]
	path = modules/bridge-core-infra
	url = git@github.com:matejviezan93-spec/bridge-core-infra.git
